// Service definition for protoc-gen-grpc-direct
// Use: protoc-gen-grpc-direct < greeter.service > greeter_grpc.ml

package: helloworld
service: Greeter
rpc SayHello(HelloRequest) returns (HelloReply)
